.itemSelezionato {
    -fx-stroke-width: 0px;
    -fx-background-color: red;
    -fx-stroke-line-cap: round;
    -fx-border-radius: 50px;
    -fx-arc-width: 50px;
    -fx-arc-height: 50px;
}

.itemNonSelezionato {
    -fx-stroke-width: 0px;
    -fx-background-color: white;
    -fx-stroke-line-cap: round;
    -fx-border-radius: 50px;
    -fx-arc-width: 50px;
    -fx-arc-height: 50px;
    -fx-fill: white;
}

.main_menubar {

}









